# Eclipse files
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
.Idea
*.iml
.idea/

#VS code
.vscode/
.factorypath

# Target folders
target/
build/
out/
dist/

# Secrets
client-secret.json

# Local databases
local_db.bin

# Gradle, Node, Bower, etc
.gradle/
bower_components/
node_modules/
package-lock.json
