<div class="row">
	<div class="col-md-3">
		<p class="input-group">
			<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yyyy" ng-model="from" is-open="openedFrom" 
			datepicker-options="dateOptions" show-weeks="false" show-button-bar="false" close-text="Close" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openFromPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>
	<div class="col-md-3">
		<p class="input-group">
			<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yyyy" ng-model="to" is-open="openedTo" 
			datepicker-options="dateOptions" show-weeks="false" show-button-bar="false" close-text="Close" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openToPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>
</div>

<div google-chart chart="chart" id="chart" style="display:block;width:100%;height:400px;" on-ready="fixGoogleChartsBarsBootstrap()"/>
