<div class="row">
	<div class="col-md-3">
		<p class="input-group">
			<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yyyy" ng-model="from" is-open="openedFrom" 
			datepicker-options="dateOptions" show-weeks="false" show-button-bar="false" close-text="Close" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openFromPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>
	<div class="col-md-3">
		<p class="input-group">
			<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yyyy" ng-model="to" is-open="openedTo" 
			datepicker-options="dateOptions" show-weeks="false" show-button-bar="false" close-text="Close" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-sm" ng-click="openToPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>
</div>
<ul class="nav nav-pills" ng-model="activePill" pills>
  <li class="active"><a href="" id="hourlyChartPill" ng-click="draw('hourlyChart')">hourly</a></li>
  <li><a href="" id="dailyChartPill" ng-click="draw('dailyChart')">daily</a></li>
  <li><a href="" id="weeklyChartPill" ng-click="draw('weeklyChart')">day of week</a></li>
</ul>
<div google-chart chart="hourlyChart" id="hourlyChart" style="display:block;width:100%;height:400px;" on-ready="chartReady('hourlyChart')"/>
<div google-chart chart="dailyChart" id="dailyChart" style="display:none;width:100%;height:400px;" on-ready="chartReady('dailyChart')"/>
<div google-chart chart="weeklyChart" id="weeklyChart" style="display:none;width:100%;height:400px;" on-ready="chartReady('weeklyChart')"/>