<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<title>demographics survey</title>
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'></script>
<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 center-block text-center' style='float: none !important'>
                <form name='mturk_form' method='post' id='mturk_form'
                    action='https://workersandbox.mturk.com/mturk/externalSubmit'>
                    <input type='hidden' value='' name='assignmentId' id='assignmentId' />
                    <input type='hidden' value='' name='gender' id='gender' />
                    <h3>What is your gender?</h3>
                    <button type='button' id='male' class='btn btn-block btn-default'>Male</button>
                    <button type='button' id='female' class='btn btn-block btn-default'>Female</button>
                    <input type='submit' id='submitButton' class='btn btn-primary' style='margin-top: 5px;' value='Submit' />
                </form>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
    	$(document).ready(function() {
    	    var assignmentID = turkGetParam('assignmentId', '');
    	    var hitId = turkGetParam('hitId', '');
    	    $('#assignmentId').val(assignmentID);

    	    if (assignmentID == 'ASSIGNMENT_ID_NOT_AVAILABLE') {
    	        $('#submitButton').attr('disabled', true);
    	        $('#submitButton').val('You must ACCEPT the HIT before you can submit the results.');
    	    }
        	$('#submitButton').attr('disabled', true);
        	
        	var formSubmitted = false;
        	$('#mturk_form').submit(function(event) {
        	    if(formSubmitted == false) {
            	    $.get('http://mturk-surveys.appspot.com/saveAnswer?answer=' + 
            	            $('#gender').val() + '&hitId=' + hitId, function(response) {
            	        formSubmitted = true;
            	        $('#mturk_form').submit();
            	    }, 'jsonp');
            	    event.preventDefault();
        	    }
        	});
        	$('#male').on('click', function(){
        	    if (assignmentID != 'ASSIGNMENT_ID_NOT_AVAILABLE') {
            	    $(this).toggleClass('btn-default btn-info');
            	    $('#female').removeClass('btn-info');
            	    $('#female').addClass('btn-default');
            	    $('#gender').val('male');
            	    $('#submitButton').attr('disabled', false);
        	    }
        	});
        	$('#female').on('click', function(){
        	    if (assignmentID != 'ASSIGNMENT_ID_NOT_AVAILABLE') {
            	    $(this).toggleClass('btn-default btn-info');
            	    $('#male').removeClass('btn-info');
            	    $('#male').addClass('btn-default');
            	    $('#gender').val('female');
            	    $('#submitButton').attr('disabled', false);
        	    }
        	});
    	})
    </script>
</body>
</html>